@model IEnumerable<ClinicManagement.Core.ViewModel.UserViewModel>

@{
    ViewBag.Title = "Manage users";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Manage Users </h2>
                <div class="clearfix"></div>
            </div>
       <div class="x_content">
            <table id="users" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th> <label>Email</label> </th>
                    <th><label>Role</label></th>
                    <th><label>Account Status</label></th>

                    <th></th>
                </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>@item.Role</td>
                        <td>
                            @{
                                //cast to bool
                                if ((bool)item.IsActive)
                                {
                                    <a href="#" style="padding: 3px 10px 3px 10px; background-color:green " class="badge" readonly>Active</a>
                                }
                                else
                                {
                                    <a href="#" style="padding: 3px 10px 3px 10px; background-color:red " class="badge" readonly>locked</a>
                                }
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","Account", new { id = item.Id})"><i class="fa fa-pencil-square"></i></a>
                        </td>


                    </tr>
                  }

            </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#users").DataTable();
        });
    </script>
}
