<ul class="nav side-menu">
    <li><a href="/"><i class="fa fa-home"></i> Dashboard </a></li>
    @*<li><a href="@Url.Action("Index", "Patients")"><i class="fa fa-edit"></i>Patients</a></li>*@
    <li> <a href="@Url.Action("DoctorProfile","Doctors")"><i class="fa fa-edit"></i>  Profile </a></li>
</ul>

