@{
    ViewBag.Title = "Attandence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #renderTable {
        background-color: white;
    }
</style>
<span class="section">Attandence</span>
<div class="row">
    <div class="col-md-12">

        <!-- form date pickers -->
        <div class="x_panel" style="">
            <div class="x_content">
                <div class="well" style="overflow: auto">
                    @*<div class="col-md-2">
                    </div>*@
                    <div class="col-md-6">
                        <form id="form1">
                            <label>Enter Patient Token: </label>
                            <input type="text" name="token" />
                            <input type="button" class="btn btn-primary btn-sm" value="Ok" id="submit" />
                        </form>

                    </div>
                    @*<div class="col-md-2">
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div id="renderTable" class="x_content">
                @Html.Partial("_AttandencePartial")

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        //$('.datepicker').datepicker();

        $(document).ready(function () {
            $('#renderTable').hide();
            $('#submit').on('click', function () {
                $('#renderTable').show();
                $('#renderTable').load("PatientAttandence", $('#form1').serialize());
            });
        });


    </script>
}